

html{
    height: 100%;
    margin: 0;

}
body{
    
  
      /* The image used */
      background-image: url("1.jpg");
  
    
      height: 100%; 
    
    
       background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 

}

